# Typen und Konvertierung

Typen repräsentieren eine Kategorie von Objekten. Zum Beispiel haben Zahlen ihren eigenen Typ oder Textobjekte haben ihren eigenen Typ und so weiter ...

**numerische Typen**  

- integer
- float
- complex

In [1]:
# erstelle eine Variable var
# und weise ihr einen Wert zu
var = 100

Welchen Typ hat 'var'?

In [10]:
# eingebaute Funktion type()
print(type(var))
print(var)
#print(var/2)           # Division macht aus einer integer Zahl eine float Zahl
#print(type(var/1))

<class 'int'>
100

**int: integer** 

Nummern z.B.: -2, -1, 0, 1, 2, ...

In [11]:
# erstelle eine Variable num
# und weise ihr eine Kommazahl zu
num = 1.555

In [12]:
print(type(num))

<class 'float'>

**float: Fliesskommazahl**  

Nummern z.B.: -2.4 or 1.33, or 20.23 ..

**Komplexe Zahlen**  

Die sind Zahlen, die aus 2 Teilen bestehen. Eine ist der Realteil, die andere ist der Imaginärteil [wikipedia](https://de.wikipedia.org/wiki/Komplexe_Zahl)

In [17]:
# erstelle eine Variable com
# und weise ihr eine komplexe Zahl zu
com = 4 + 3j             # j*j = -1 imaginärer Teil
print(com)
com = 3j + 4             # j*j = -1 imaginärer Teil
print(com)
print(type(com))
#print(com + 3j + 4)     # Python addiert richtig
#print(1j * 1j)          # j * j = -1 !

(4+3j)
(4+3j)
<class 'complex'>

In Python-Programmen definieren wir einfach eine Variable und weisen ihr einen Wert zu. Wir müssen den Typ nicht deklarieren! Das nennt man:

 **Duck Typing**

„Wenn es aussieht wie eine Ente, schwimmt wie eine Ente und quakt wie eine Ente, dann ist es wahrscheinlich eine Ente.“ [ James Whitcomb Riley (1849–1916)](https://de.wikipedia.org/wiki/Ententest)

<img src='' style='width:350px;' />

## Konvertierung

Manchmal müssen wir den Typ eines Objekts ändern, um damit Berechnungen durchzuführen.

Wie kann ich 'vegan' sein und trotzdem 'bbq chicken' genießen?!

Sie können es einfach in "Auberginen" umwandeln!

Python hat dafür einige eingebaute Funktionen!

**Exercise**

Wir brauchen ein Programm, um den Nettopreis (Preis vor Steuern) vom Benutzer zu erhalten und 19% Steuern hinzuzufügen.

Die Ausgabe ist der Bruttopreis (Endpreis).

In [18]:
# Eingabe Netto
net = input('Geben Sie den Nettopreis ein: ')

# Berechne den Nettopreis mit 19% Mehrwertsteuer
final_price = net * 1.19

# Ausgabe
print('Ok, der Bruttopreis ist: ', final_price)

Geben Sie den Nettopreis ein: 100

TypeError: can't multiply sequence by non-int of type 'float'

Lassen Sie uns Schritt für Schritt durch dieses Programm gehen und das Problem herausfinden:

In [21]:
# Eingabe
#net = float(input('Geben Sie den Nettopreis ein: '))
net = input('Geben Sie den Nettopreis ein: ')
print(type(net))
# Berechne den Nettopreis mit 19% Mehrwertsteuer
final_price = float(net) * 1.19
# Ausgabe
print('Ok, der Bruttopreis ist: ', final_price)

Geben Sie den Nettopreis ein: 100.34
<class 'str'>
Ok, der Bruttopreis ist:  119.4046

Das heißt, die Funktion input() gibt uns ein String-Objekt (Textobjekt) mit einem Wert von 99 (oder besser gesagt '99') zurück.

was passiert, wenn wir versuchen, es mit 100 (Ganzzahl) zu verketten/addieren?

In [24]:
net + 100
#100 + net

TypeError: can only concatenate str (not "int") to str

Eine Multiplikation ist somit auch nicht möglich.

In [25]:
net * 1.19

TypeError: can't multiply sequence by non-int of type 'float'

### Funktionen zur Konvertierung

helfen uns bei:
- Erstellen Sie ein Objekt eines bestimmten Typs
- oder ein Objekt in einen anderen Typ umwandeln

<code>str()</code>  
<code>float()</code>  
<code>int()</code>  

Wir verwenden eine der Funktionen um den eingegebenen Wert in eine Zahl umzuwandeln.

In [26]:
net ='101'

In [27]:
type(net)

str

In [28]:
type(float(net))     # Kovertieren in einen Float-Wert

float

In [29]:
float(net) * 1.19

120.19

In [30]:
v = float(net) * 1.19
print(v)

120.19

In [31]:
int(v)          # Nachkommastellen werden abgeschnitte!
print(int(v))

120

Korrigieren wir das ursprüngliche Programm:

In [35]:
# Eingabe Netto
#net = float(input('Geben Sie den Nettopreis ein: '))
net = float(input('Geben Sie den Nettopreis ein: '))
print(type(net))
# Berechne den Nettopreis mit 19% Mehrwertsteuer
final_price = net * 1.19
# Ausgabe
print('Ok, der Bruttopreis ist: ', final_price)

Geben Sie den Nettopreis ein: 120
<class 'float'>
Ok, der Bruttopreis ist:  142.79999999999998

**Übung 1**  

Wir brauchen ein Programm, das den Benutzer nach einem Temperaturwert in Celsius fragt und diesen Wert in Fahrenheit ausgibt.
Um einen Temperaturwert von Celsius in Fahrenheit umzurechnen, können wir diese Formeln verwenden:  

```fahrenheit = celsius * 1.8 + 32 ```

[ Grad Fahrenheit ](https://de.wikipedia.org/wiki/Grad_Fahrenheit)

In [ ]:
# Hier Euren Lösungscode eintragen