# Tägliche Übung - Pandas

Übe die must have skills in pandas:

                                    - "metadaten" abfragen
                                    - auf Werte zugreifen
                                    - bedingte abfragen
                                    - groupby(), agg()

In [ ]:
# benötigte bib importieren

import pandas as pd 
import numpy as np 
import seaborn as sns

In [ ]:
# datensatz laden - titanic datensatz, der in seaborn bib enthalten ist

df_titanic = sns.load_dataset('titanic')
df_titanic

In [ ]:
# Spaltennamen und Datentypen in Erfahrung bringen

In [ ]:
# lasse dir die ersten drei Zeilen anzeigen

In [ ]:
# lasse dir die letzten 4 Zeilen anzeigen

In [ ]:
# lasse dir die spalten sex, age, fare, class und embark_town anzeigen

In [ ]:
# wie viele klassen gab es auf der titanic?

In [ ]:
# in der spalte class soll die 'First' class in 'exclusive' umbenannt werden   HINT: replace()

In [ ]:
# lasse dir diejenigen anzeigen die überlebt haben - 1 steht für überlebt, 0 steht für gestorben

In [ ]:
# lasse dir die Frauen anzeigen die älter gleich 30 waren

In [ ]:
# lasse dir das alter und den ticketpreis anzeigen von den männern an board die über 60 sind und in der exclusive class waren

In [ ]:
# wie viele Männer und Frauen waren auf der titanic? HINT: groupby() agg()

In [ ]:
# wie viele der Frauen/Männer haben überlebt/ sind gestorben?  HINT: groupby() agg()

In [ ]:
# bezogen auf den film titanic: musste Jack sterben, weil er aus der 3.klasse kam und hat Cate überlebt, weil sie aus der 1.ten klasse kam?    HINT: groupby() agg()