# Elektroautos

Dein Chef hat die neuesten Daten über den Elektroautomarkt. Wie immer ist die Zeit knapp und um 14 Uhr hält dein Chef eine Presskonferenz über die neuen Zahlen. Da dein Chef selbst heute einen vollen Terminkalendar hat, bittet er dich die Daten auf- und für die Präsentation vorzubereiten. Dein Chef bekommt die Daten von dir um 13:50 Uhr und hat damit nur 10min Zeit deine Unterlagen durchzusehen.

Der Datensatz besteht aus zwei Teilen. Füge diese zunächst zusammen.

Erkunde den Datensatz. Hier kannst du beim Thema fehlende Werte weitere Vorgehensweisen ausprobieren, um die Daten zu befüllen. (Häufigkeiten bestimmen: crosstab(),idxmax() ...)

Weiterhin bietet der Datensatz ein neues Features! Erstelle dieses.

Werte den Datensatz aus! Welche Erkenntnisse kannst du daraus gewinnen?
                            
Vergiss nicht dein Vorgehen zu dokumentieren: Dokumentiere deine Schritte - bringe deine Gedanken auf Papier!

### Wofür stehen die Spalten?


- Brand ... Manufacturer of the vehicle
- Model ... Model name
- AccelSec ... Acceleration as 0-100 km/h
- TopSpeed_KmH ... The top speed in km/h
- Rang_Km ... Range in km
- Efficiency_WhKm ... Efficiency Wh/km --> wie viel kw brauch ich pro km bzw. Stromverbrauch pro km
- FastCharge_KmH ... Charge km/h --> Reichweite in km nach einer Stunde Schnellladen (ist ein theoretischer Wert)
- RapidCharge ... Yes / No --> besitzt Schnellladefunktion ja/nein
- PowerTrain ... Front (FWD), rear (RWD) , or all wheel drive (AWD)
- PlugType ... Plug type (Stecktyp zum Laden an der Ladesäule; abhängig vom Land in dem das Auto später fährt)
- BodyStyle ... Basic size or style (SUV, Schrägdach etc.)
- Seats ... Number of seats
- PriceEuro ... Price in Germany before tax incentives

### to DO

                                       1. Data Preprocessing
                                           1.1) Datensatz einlesen
                                           1.2) fehlende Werte
                                           1.3) Ausreißer
                                           1.4) Speicherplatz
                                           1.5) Pairplot - erste visuelle Inspektion
                                           1.6) Features
                                        
                                        2. Visualisierung

## Datensatz einlesen

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [87]:
# 1.1 1. Datei einlesen
# Datei vorher anschauen; pd.read_csv
df1 = pd.read_csv("ecar_part1.csv")

df1

,Unnamed: 0,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,connector
0,0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,100
1,1,Volkswagen,ID.3 Pure,10.0,160,270,167,101
2,2,Polestar,2,4.7,210,400,181,102
3,3,BMW,iX3,6.8,180,360,206,103
4,4,Honda,e,9.5,145,170,168,104
...,...,...,...,...,...,...,...,...
98,98,Nissan,Ariya 63kWh,7.5,160,330,191,198
99,99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,199
100,100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,200
101,101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,201
102,102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,202

In [83]:
# 1.1 2. Datei einlesen
# Datei vorher anschauen; pd.read_csv

df2 = pd.read_csv("ecar_part2.csv",delimiter="|")

df2

,Unnamed: 0,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,PriceEuro,connector
0,0,940.0,Yes,AWD,Type 2 CCS,Sedan,5.0,55480,100
1,1,250.0,Yes,RWD,Type 2 CCS,Hatchback,?,30000,101
2,2,620.0,Yes,AWD,Type 2 CCS,Liftback,5.0,56440,102
3,3,560.0,Yes,RWD,Type 2 CCS,SUV,5.0,68040,103
4,4,190.0,Yes,RWD,Type 2 CCS,Hatchback,4.0,32997,104
...,...,...,...,...,...,...,...,...,...
98,98,440.0,Yes,FWD,Type 2 CCS,Hatchback,5.0,45000,198
99,99,540.0,Yes,AWD,Type 2 CCS,SUV,?,96050,199
100,100,440.0,Yes,AWD,missing_type,Hatchback,5.0,50000,200
101,101,450.0,Yes,AWD,Type 2 CCS,Hatchback,5.0,65000,201
102,102,480.0,Yes,AWD,missing_type,SUV,5.0,62000,202

In [187]:
# 1.1 die zwei Dateien (Dataframes) zusammenführen
# welche Information verbindet die beiden Dateien? --> Die Spalte Connector
# wie wird verbunden? (horizontal oder vertikal?) --> Horizontal 
# .merge(); .reset_index
df3 = df1.merge(df2, how ='inner', on='connector')

df3

,Unnamed: 0_x,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,connector,Unnamed: 0_y,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,PriceEuro
0,0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,100,0,940.0,Yes,AWD,Type 2 CCS,Sedan,5.0,55480
1,1,Volkswagen,ID.3 Pure,10.0,160,270,167,101,1,250.0,Yes,RWD,Type 2 CCS,Hatchback,?,30000
2,2,Polestar,2,4.7,210,400,181,102,2,620.0,Yes,AWD,Type 2 CCS,Liftback,5.0,56440
3,3,BMW,iX3,6.8,180,360,206,103,3,560.0,Yes,RWD,Type 2 CCS,SUV,5.0,68040
4,4,Honda,e,9.5,145,170,168,104,4,190.0,Yes,RWD,Type 2 CCS,Hatchback,4.0,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,98,Nissan,Ariya 63kWh,7.5,160,330,191,198,98,440.0,Yes,FWD,Type 2 CCS,Hatchback,5.0,45000
99,99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,199,99,540.0,Yes,AWD,Type 2 CCS,SUV,?,96050
100,100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,200,100,440.0,Yes,AWD,missing_type,Hatchback,5.0,50000
101,101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,201,101,450.0,Yes,AWD,Type 2 CCS,Hatchback,5.0,65000
102,102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,202,102,480.0,Yes,AWD,missing_type,SUV,5.0,62000

In [153]:
# 1.1 werden alle Informationen/Spalten des zusammengesetzten DF benötigt?
#df4 = df3.loc[:, ['Brand', 'Model', 'AccelSec', 'TopSpeed_KmH', 'Range_Km', 'Efficiency_WhKm', 'FastCharge_KmH', 'RapidCharge', 'PowerTrain', 'PlugType', 'BodyStyle', 'Seats', 'PriceEuro']]

df4 = df3.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', 'connector'])


df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   98 non-null     float64
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Seats            103 non-null    object
 12  PriceEuro        103 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 10.6+ KB

## Fehlende Werte

In [183]:

# Unerwünschten Wert ersetzen
df4['Seats'] = df4['Seats'].replace('?', np.nan)
df4['Seats'] = df4['Seats'].astype(float)
df4['PlugType'] = df4['PlugType'].replace('NaN', np.nan)

df4

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940.0,Yes,AWD,Type 2 CCS,Sedan,5.0,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250.0,Yes,RWD,Type 2 CCS,Hatchback,NaN,30000
2,Polestar,2,4.7,210,400,181,620.0,Yes,AWD,Type 2 CCS,Liftback,5.0,56440
3,BMW,iX3,6.8,180,360,206,560.0,Yes,RWD,Type 2 CCS,SUV,5.0,68040
4,Honda,e,9.5,145,170,168,190.0,Yes,RWD,Type 2 CCS,Hatchback,4.0,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,7.5,160,330,191,440.0,Yes,FWD,Type 2 CCS,Hatchback,5.0,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540.0,Yes,AWD,Type 2 CCS,SUV,NaN,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440.0,Yes,AWD,NaN,Hatchback,5.0,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450.0,Yes,AWD,Type 2 CCS,Hatchback,5.0,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480.0,Yes,AWD,NaN,SUV,5.0,62000

## Ausreißer

In [184]:
df4.describe()

,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,Seats,PriceEuro
count,103.000000,103.000000,103.000000,103.000000,98.000000,85.000000,103.000000
mean,7.396117,179.194175,338.786408,189.165049,456.734694,4.894118,55811.563107
std,3.017430,43.573030,126.014444,29.566839,201.262897,0.859451,34134.665280
min,2.100000,123.000000,95.000000,104.000000,170.000000,2.000000,20129.000000
25%,5.100000,150.000000,250.000000,168.000000,275.000000,5.000000,34429.500000
50%,7.300000,160.000000,340.000000,180.000000,440.000000,5.000000,45000.000000
75%,9.000000,200.000000,400.000000,203.000000,560.000000,5.000000,65000.000000
max,22.400000,410.000000,970.000000,273.000000,940.000000,7.000000,215000.000000

## Speicherplatz

In [185]:
df4.info(memory_usage= 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   98 non-null     float64
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         88 non-null     object
 10  BodyStyle        103 non-null    object
 11  Seats            85 non-null     float64
 12  PriceEuro        103 non-null    int64
dtypes: float64(3), int64(4), object(6)
memory usage: 39.1 KB